# editors
.vscode/
out/
/bin/

# tools binaries
tools/bcdb_mock/bcdb_mock
tools/tfuser/tfuser
tools/tffarmer/tffarmer
tools/schemac/schemac
tools/updatectl/updatectl
tools/bcdb_mock/allocations.json
tools/bcdb_mock/farms.json
tools/bcdb_mock/nodes.json
tools/bcdb_mock/reservations.json

qemu/node*
qemu/*.efi
.ssh

# c object
*.o
