# Builds a single runtime package, this
# is similar to `bin-package.yaml` but never
# tags the built binary. It means any package
# built with this never becomes part of zos installation
name: Build Extra Binary (no tagging)

on:
  workflow_call:
    inputs:
      package:
        description: "package to build"
        required: true
        type: string
    secrets:
      token:
        required: true
jobs:
  builder:
    name: builder
    runs-on: ubuntu-latest
    container: ubuntu:20.04
    steps:
      - name: Checkout code into the Go module directory
        uses: actions/checkout@v1
      - name: Setup basesystem
        run: |
          cd bins
          ./bins-extra.sh --package basesystem
      - name: Build package (${{ inputs.package }})
        id: package
        run: |
          cd bins
          ./bins-extra.sh --package ${{ inputs.package }}
      - name: Publish flist (tf-autobuilder, ${{ steps.package.outputs.name }})
        if: success()
        uses: threefoldtech/publish-flist@master
        with:
          threefold: ${{ secrets.token }}
          # baseurl: https://hub.grid.tf
          action: publish
          user: tf-autobuilder
          root: bins/releases/${{ inputs.package }}
          name: ${{ steps.package.outputs.name }}.flist
