name: Runtime packages
on:
  push:
    branches:
      - "*"
    tags:
      - "v*"
    paths:
      - "bins/**"
      - ".github/workflows/bins.yaml"
      - ".github/workflows/bin-package.yaml"
      - ".github/workflows/bin-package-18.04.yaml"

jobs:
  containerd:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: containerd
    secrets:
      token: ${{ secrets.HUB_JWT }}
  runc:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: runc
    secrets:
      token: ${{ secrets.HUB_JWT }}
  virtwhat:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: virtwhat
    secrets:
      token: ${{ secrets.HUB_JWT }}
  yggdrasil:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: yggdrasil
    secrets:
      token: ${{ secrets.HUB_JWT }}
  zufs:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: zufs
    secrets:
      token: ${{ secrets.HUB_JWT }}
  hdparm:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: hdparm
    secrets:
      token: ${{ secrets.HUB_JWT }}
  corex:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: corex
    secrets:
      token: ${{ secrets.HUB_JWT }}
  shimlogs:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: shimlogs
    secrets:
      token: ${{ secrets.HUB_JWT }}
  cloudhypervisor:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: cloudhypervisor
    secrets:
      token: ${{ secrets.HUB_JWT }}
  rmb:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: rmb
    secrets:
      token: ${{ secrets.HUB_JWT }}
  tailstream:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: tailstream
    secrets:
      token: ${{ secrets.HUB_JWT }}
  virtiofsd:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: virtiofsd
    secrets:
      token: ${{ secrets.HUB_JWT }}
  vector:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: vector
    secrets:
      token: ${{ secrets.HUB_JWT }}
  nnc:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: nnc
    secrets:
      token: ${{ secrets.HUB_JWT }}
  tpm:
    uses: ./.github/workflows/bin-package-18.04.yaml
    with:
      package: tpm
    secrets:
      token: ${{ secrets.HUB_JWT }}
  qsfs:
    uses: ./.github/workflows/bin-no-publish.yaml
    with:
      package: qsfs
    secrets:
      token: ${{ secrets.HUB_JWT }}
  traefik:
    uses: ./.github/workflows/bin-no-publish.yaml
    with:
      package: traefik
    secrets:
      token: ${{ secrets.HUB_JWT }}
  cloudconsole:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: cloudconsole
    secrets:
      token: ${{ secrets.HUB_JWT }}
  misc:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: misc
    secrets:
      token: ${{ secrets.HUB_JWT }}
  iperf:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: iperf
    secrets:
      token: ${{ secrets.HUB_JWT }}
  cpu-benchmark:
    uses: ./.github/workflows/bin-package.yaml
    with:
      package: cpu-benchmark
    secrets:
      token: ${{ secrets.HUB_JWT }}
